$primary-color: rgb(49, 209, 97);

body {
    background: #333 url(../img/gaming-green-keyboard-51415.jpg) no-repeat center center/cover;
    background-attachment: fixed; 
    height: 100vh;
    overflow: hidden; 
}


.navbar {    
    display: flex;
    flex-wrap: wrap;    
    top: 0;
    z-index: 1;
    color: $primary-color;
    background: #333;  
    
    .icon {
        color: #fff;
    }
}


.grid {
    display: grid;
    grid-template-columns: 1fr 4fr;   
    grid-template-rows: 0fr;
    gap: 3px;
    padding: 5px;
    height: 100%;      
}


.sidebar {
    grid-column: 1/2;
    grid-row: 1/6;
    background: #333;
    opacity: .70;
    overflow-y: scroll;  
    
    .addRoom {
        text-align: center;

        .line {
            margin-top: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid $primary-color;
        }
    }
    
    input.text-box {
        color: #fff;
        background-color: #555;                    
        width: 90%;
        margin: 5px; 
        padding: 0 10px;     
        border-radius: 10px;        
        border: 1px solid $primary-color; 
        text-align: center;       
    }
    
    input[type=text]:focus {
        border: 1px solid $primary-color;
        outline: none;
    }

    button {
        background: #555;
        color: $primary-color;
        width: 90%;
        // margin: 5px;        
        border-radius: 10px;        
        border: 1px solid $primary-color;              

        &:hover {
            background: $primary-color;
            color: #fff;
            cursor: pointer;
        }
    }

    a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 15px;
        color: #fff;
        display: block;

        &:hover {
            color: $primary-color;
        }
    }

    ul {
        list-style: none;
        padding-left: 0px;        
    }
}


.chat {
    grid-row: 1/5;
    color: #fff;
    background: #333;
    opacity: .70;    
    overflow-y: auto;        
    justify-content: center;
    

    .roombar {
        height: 35px;
        text-align: center;
        position: sticky;
        top: 0;
        border-width: 4px;
        border-style: solid;
        border-radius: 10px;
        border-color: $primary-color;
    }

        
    ul {                     
        text-align: left;  
        list-style: none;           
                        
        li {            
            margin: 12px;            
            width: 95%;            
            word-wrap: break-word;        
        }
    }

    h4 {
        display: inline;
        color: $primary-color;
    }
}


.chatbar {    
    grid-row: 5/6;
    background: #333;
    opacity: .70;    
    text-align: center;    

    #newMessage {
        margin: 15px;
    }
  
    input.text-box {
    color: #fff;
    background-color: #555;                    
    width: 60%;
    padding: 5px;    
    border-radius: 10px;
    border: 3px solid $primary-color;                    
    }

    input[type=text]:focus {
        border: 3px solid $primary-color;
        outline: none;
    }

    button {
        background: #555;
        color: $primary-color;
        padding: 5px;
        border-radius: 10px;        
        border: 3px solid $primary-color;              

        &:hover {
            background: $primary-color;
            color: #fff;
            cursor: pointer;
        }
    }
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}


// LogIn
.form-wrap {
    background-color: $primary-color;
    max-width: 400px;  
    margin-left: auto;
    margin-right: auto;  
    padding-top: 25px;      
    opacity: 0.80;     

    h3 {
        color: #333;
        text-align: center;
        padding-bottom: 15px;        
    }
    
    .items {
        text-align: center;
    }
    
    .item {
        padding: 10px;
    }

    button {
        color: $primary-color;
        background-color: #333;
        border-radius: 10px;
        border-color: $primary-color;

        &:hover {
            background: $primary-color;
            color: #fff;
            border-radius: 5px;
            border-color: #333;
            cursor: pointer;
        }        

    }
}