{% extends "layout.html" %}

{% block body %}
<div class="grid">       

    <div class="sidebar">
        <div class="addRoom">
            <form action="/newRoom" method="POST" name="newRoom">
                <input class="text-box" type="text" autocomplete="off">
                <button type="submit">Create Room</button>            
            </form>
            <div class="line"></div>
        </div>
        {% for room in chatRooms %}            
            <a href="{{room}}">{{room}}</a>
        {% endfor %}      
                         
    </div>     

    <div class="chat">        

    </div>
        
    <div class="chatbar">
        <form action="/chat-submit" method="POST" id="chat-box-text" name="chat-box-text">
            <input class="text-box" type="text" autocomplete="off" autofocus>
            <button type="submit">Send</button>                                        
        </form>    
    </div>                       

    
    
</div>
{% endblock %}

