{% extends "layout.html" %}

{% block body %}
<div class="grid">       

    <div class="sidebar">
        <div class="addRoom">
            <form id="newRoom" action="/newRoom" method="POST" name="newRoom">
                <input id="name" class="text-box" type="text" autocomplete="off" placeholder="Create A New Room">                
                <button id="submitRoom" type="submit">Create Room</button>            
            </form>
            <div class="line"></div>
        </div>
        <div class="roomList">
            <ul id="rooms">
                {% for room in chatRooms %}            
                    <li data-roomname="{{room}}" class="room" id={{room}}>
                        <a href="{{room}}">{{room}}  <i class="far fa-comments icon"></i> </a>                    
                    </li>
                {% endfor %}              
            </ul>
        </div>
                         
    </div>     

    <div class="chat">        
        <ul id="messages"></ul>    
        <ul id="entrance"></ul>      
    </div>
    
    <div class="chatbar">
        
        <form id="newMessage" action="/chat-submit" method="POST" id="chat-box-text" name="chat-box-text">
            <input id="message" room="" class="text-box" type="text" autocomplete="off" autofocus disabled
            placeholder="Please Select A Chatroom">
            <button id="submitMessage" type="submit">Send</button>                                        
        </form>    
        
    </div>      
    
</div>
{% endblock %}
