{% extends "layout.html" %}

{% block body %}
<div class="showcase">       

    <div class="sidebar">
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#clients">Clients</a>
        <a href="#contact">Contact</a>                
    </div>        
    <div class="chat">
        <h5>test</h5>
        <h5>test</h5>
        <h5>test</h5>
        <h5>test</h5>
        <h5>test</h5>
        <h5>test</h5>
        <h5>test</h5>
        <h5>test</h5>
        <h5>test</h5>
        <h5>test</h5>
        <h5>test</h5>
        <h5>test</h5>
        <h5>test</h5>                 
    </div>
    <div class="chatbar">
        
    </div>
    
</div>
{% endblock %}

