{% extends "layout.html" %}

{% block body %}
<div class="grid">       

    <div class="sidebar">
        <a href="#room">Chat Room #1</a>
        <a href="#room">Chat Room #2</a>
        <a href="#room">Chat Room #3</a>
        <a href="#room">Chat Room #4</a>
        <a href="#room">Chat Room #5</a>
        <a href="#room">Chat Room #6</a>                      
    </div>     

    <div class="chat">

    </div>
        
    <div class="chatbar">
        <form action="/chat-submit" method="POST" id="chat-box-text" name="chat-box-text">
            <input class="text-box" type="text" autocomplete="off" autofocus>
            <button type="submit">Send</button>                                        
        </form>    
    </div>                       

    
    
</div>
{% endblock %}

