<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>  
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://kit.fontawesome.com/2ba32f1590.js"></script>    
    <script src="../static/index.js"></script>
    <title>Flack Chat</title>
</head>
<body>
    <div class="navbar">
        <h1 class="logo">
                <i class="far fa-comments icon"></i> Flack Chat
        </h1>
    </div>
    
    {% block body %}
    {% endblock %}    

</body>
</html>